<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }); %>
    <script type="module" src="frontend_js/main.js" defer></script>

</head>
<body>
    <header>
        <%- include("./partials/header.ejs", { header: header }); %>
    </header>
    <nav>
        <%- include("./partials/navbar.ejs"); %>
    </nav>
    <aside class="user-area">
        <% if (locals.user) { %>
            <%- include("./partials/user-area"); %>
        <% } %>
        </aside>
    <main>
        <% if (!locals.user) { %>
            <h2>You are not logged in</h2>
        <% } %>

    </main>
    <footer>
        <%- include("./partials/footer.ejs", { links: links }); %>
    </footer>
</body>
</html>