<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }); %>
    <script type="module" src="frontend_js/main.js" defer></script>

</head>
<body>
    <header>
        <%- include("./partials/header.ejs", { header: header }); %>
    </header>
    <nav>
        <%- include("./partials/navbar.ejs"); %>
    </nav>
    <main>
        <% if (locals.user) { %>
            <h2>Hello <%= user.name %></h2>
            <form action="/log-out" method="post">
                <button type="submit" class="button">Log out</button>
            </form>
        <% } else { %>
            <h2>You are not logged in</h2>    
        <% } %>

    </main>
    <footer>
        <%- include("./partials/footer.ejs", { links: links }); %>
    </footer>
</body>
</html>